<form action="/signup" method="POST">
    <h4>New User</h4>
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="password" name="password" />
    <button>Login</button>
</form>