* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: #fefefe;
}

.container {
    width: 75%;
    margin-left: 12.5%;
}
/* Navbar styles */
.navbar {
    background-color: #C7AFCC;
    padding: 1.4rem;
    margin: 0 3rem 1rem 3rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Card styles */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}
